@page "/game/{Id:guid}"
@using LgpdApp.Client.Shared.DTOs
@using System.Text.Json
@inject HttpClient Http

<h3>Детали игры</h3>

<pre>@paramsJson</pre>

@code {
    [Parameter] public Guid Id { get; set; }
    private GameDto game;

    private string paramsJson = "";

    protected override async Task OnInitializedAsync()
    {
        game = await Http.GetFromJsonAsync<GameDto>($"api/games/{Id}");
        paramsJson = JsonSerializer.Serialize(game.ParamsJson, new JsonSerializerOptions { WriteIndented = true });
    }
}