@page "/templates"
@using LgpdApp.Client.Shared.DTOs
@inject HttpClient Http

<h3>Выберите шаблон</h3>

<div class="row">
    @foreach (var template in templates)
    {
        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@template.Name</h5>
                    <p class="card-text">@template.Description</p>
                    <a href="/create-game/@template.Id" class="btn btn-primary">Создать игру</a>
                </div>
            </div>
        </div>
    }
</div>

@code {
    private List<TemplateDto> templates = new();

    protected override async Task OnInitializedAsync()
    {
        templates = await Http.GetFromJsonAsync<List<TemplateDto>>("api/templates");
    }
}